<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
        <dict>
            <key>items</key>
            <array>
                <dict>
                    <key>assets</key>
                    <array>
                        <dict>
                            <key>kind</key>
                            <string>software-package</string>
                            <key>url</key>
                            <string>https://raw.githubusercontent.com/TABEMARU-HAGE/Slither-iOS-mod-menu/refs/heads/main/slither.2-0-1.ipa</string>
                        </dict>
                        <dict>
                            <key>kind</key>
                            <string>display-image</string>
                            <key>needs-shine</key>
                            <false/>
                            <key>url</key>
                            <string>https://cdn.discordapp.com/attachments/1273267901071360144/1293684864666570752/IMG_0142.jpg?ex=6708456b&is=6706f3eb&hm=662d0140e299b5b5fe99a7d207a9d72dcc54c853bcbbea3c55f0ed6eba351229&</string>
                        </dict>
                        <dict>
                            <key>kind</key>
                            <string>full-size-image</string>
                            <key>needs-shine</key>
                            <false/>
                            <key>url</key>
                            <string>https://cdn.discordapp.com/attachments/1273267901071360144/1293684864666570752/IMG_0142.jpg?ex=6708456b&is=6706f3eb&hm=662d0140e299b5b5fe99a7d207a9d72dcc54c853bcbbea3c55f0ed6eba351229&</string>
                        </dict>
                    </array>
                    <key>metadata</key>
                    <dict>
                        <key>bundle-identifier</key>
                        <string>com.Tabe.io.slither</string>
                        <key>bundle-version</key>
                        <string>1.6.9</string>
                        <key>kind</key>
                        <string>software</string>
                        <key>title</key>
                        <string>slither.io</string>
                    </dict>
                </dict>
            </array>
        </dict>
    </plist>
